<a href="https://colab.research.google.com/github/XGamerZoca/1TBDA-SistemaBDHelpDesk/blob/main/Checkpoint_Alcides_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Checkpoint 1

## Carregar m√≥dulos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [2]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [3]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [4]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/22/22,4/23/22,4/24/22,4/25/22,4/26/22,4/27/22,4/28/22,4/29/22,4/30/22,5/1/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,178638,178648,178689,178745,178769,178809,178850,178873,178879,178899
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,274737,274791,274828,274828,274862,274929,275002,275055,275107,275167
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265761,265761,265767,265771,265772,265773,265776,265779,265780,265782
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,41013,41013,41013,41013,41013,41013,41349,41349,41349,41349
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99287,99287,99287,99287,99287,99287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,656876,656876,656876,656876,657060,657060,657060,657060,657060,657060
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11818,11818,11818,11818,11818,11818,11818,11818,11818,11818
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,318984,318984,318984,319316,319431,319431,319594,319594,319594,319733
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,247488,247524,247524,247598,247667,247729,247784,247842,247875,247911

## Ajustes

- Nomes das colunas

In [5]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [6]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [7]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/22/22', '4/23/22', '4/24/22', '4/25/22', '4/26/22', '4/27/22',
       '4/28/22', '4/29/22', '4/30/22', '5/1/22'],
      dtype='object', length=835)

- Reajustar dados

In [8]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [9]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [10]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
235999      NaN    West Bank and Gaza  31.952200   35.233200  5/1/22  5657
236000      NaN  Winter Olympics 2022  39.904200  116.407400  5/1/22     0
236001      NaN                 Yemen  15.552727   48.516388  5/1/22  2149
236002      NaN                Zambia -13.133897   27.849332  5/1/22  3976
236003      NaN              Zimbabwe -19.015438   29.154857  5/1/22  5469

In [11]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [12]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [13]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [14]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
235999,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-01,657060
236000,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-01,535
236001,NaN,Yemen,15.552727,48.516388,2022-05-01,11818
236002,NaN,Zambia,-13.133897,27.849332,2022-05-01,319733
236003,NaN,Zimbabwe,-19.015438,29.154857,2022-05-01,247911

In [15]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
235999      NaN    West Bank and Gaza  31.952200   35.233200 2022-05-01  5657
236000      NaN  Winter Olympics 2022  39.904200  116.407400 2022-05-01     0
236001      NaN                 Yemen  15.552727   48.516388 2022-05-01  2149
236002      NaN                Zambia -13.133897   27.849332 2022-05-01  3976
236003      NaN              Zimbabwe -19.015438   29.154857 2022-05-01  5469

In [16]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [17]:
dados_paises_covid.shape

(236004, 6)

In [18]:
dados_paises_covid_dead.shape

(236004, 6)

In [19]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [20]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
235999,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-01,657060,5657
236000,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-01,535,0
236001,NaN,Yemen,15.552727,48.516388,2022-05-01,11818,2149
236002,NaN,Zambia,-13.133897,27.849332,2022-05-01,319733,3976
236003,NaN,Zimbabwe,-19.015438,29.154857,2022-05-01,247911,5469

In [21]:
dados_covid.shape

(236004, 7)

## Aqui come√ßa o trabalho

## *Exemplo probabilidades (mem√≥rias de c√°lculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 pa√≠ses

total_populacao = soma do total de popula√ß√£o dos 4 pa√≠ses

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

infectado_e_brasil = total de infectados do Brasil

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

**RESOULU√á√ÉO DOS EXERC√çCIOS**


*   *1 ‚Äì Filtrar a data mais recente (realizar o processo para buscar a √∫ltima data de forma
automatizada) e os pa√≠ses Brasil, It√°lia, E.U.A e Canad√°.*

In [28]:
#Filtro da Data
data_max = np.max(dados_covid['date'])
data_max

Timestamp('2022-05-01 00:00:00')